.pageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  height: calc(100vh - 48px);
  background-color: #F4F4F4;

  .cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px
  }
}