.searchCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 410px;
  background: #ffffff;
  box-shadow: 0 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .textField {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 7px 0;
      }

      input {
        width: 280px;
        height: 50px;
        background: #ffffff;
        border: 1px solid #c9cacc;
        border-radius: 4px;
        outline: none;
        padding: 0 0 0 16px;
      }

      input::placeholder {
        font-size: 16px;
      }

      input:focus {
        padding: 0 0 0 16px;
      }

      button {
        cursor: pointer;
      }

      span {
        font-size: 12px;
        text-align: center;
        color: red;
        margin: 7px 0 0 0;
      }
    }

    .searchButton {
      padding: 7px;
      width: 296px;
      height: 50px;
      background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      border: none;
    }

    .searchButton:hover {
      cursor: pointer;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
    }

    .searchButton:active {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
      cursor: pointer;
    }
  }
}

.datePicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 296px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c9cacc;
  border-radius: 4px;
  font-weight: 300;
  font-size: 16px;
  color: #424242;
}
